body {
  background: #141414;
  color: #ffffff;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
  cursor: grab;
}

.movie-app > .row::-webkit-scrollbar {
  display: none;
}